.beerCartItem {
  margin-top: 5px;
  margin-bottom: 5px;
}

.beerCartImage {
  float: left;
}

.beerCartName {
}

.button {
  position: relative;
  float: left;
  top: 13px;
  margin-left: 20px;
  height: 35px;
  width: 100px;
  background-color: green;
}